body {
    background-color: hsl(233, 47%, 7%);
    text-align: center;
}

/* Preview card */

.container-fluid {
    position: relative;
    text-align: center;
    height: 170px;

}

.container {
    background-color: hsl(244, 38%, 16%);
    width: 100px;
    height: 300px;
    padding: 50px;
    margin: auto;
}

.h1-shit {
    color: hsl(0, 0%, 100%);
}

.violet-text {
    color: hsl(277, 64%, 61%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

.image {
    position: relative;
    width: auto;
    height: 300px;
    left: -12px;
}

/* Attribution */

.attribution {
    color: #fff;
    text-align: center;
    position: relative;
    bottom: -50px;
}
